@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 33%;
    min-width: 250px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: auto;
    position: relative;
    margin-top: 150px;
}
.container-block {
    background-color: #FFDC40;
    width: 100%;
    height: 28px;
    border-radius: 9px 9px 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -1px;
}
.container-name {
    margin: 17px 0 39px 0;
    font-size: 26px;
    font-weight: 900;
    padding-top: 30px;
}
.container-list {
    position: absolute;
    right: 30px;
    top: 91px;
}
.container-check {
    border: none;
    outline: none;
}
.container-center {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 10px 0;
    padding-left: 10px;
    width: 95%;
    position: relative;
}
.container-input {
    width: 80%;
    font-size: 14px;
}
.close {
    position: absolute;
    right: 20px;
}
.close:hover {
    background: url("images/Group70.svg");
    background-repeat: no-repeat;
}
.li {
    margin: 10px 0;
    font-size: 14px;
    padding-left: 15px;
}
.button {
   margin: 19px;
   box-sizing: border-box;
   text-align: center;
}
.container-tasks >* {
    padding: 5px 0;
    font-size: 14px;
}
